.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/images/bg/bgEllipse.png),
    url(/src/images/bg/bgEllipse2.png);
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-position-x: -54px, 196px;
  background-position-y: 520px, -309px;
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(/src/images/bg/bgEllipse.png),
      url(/src/images/bg/bgEllipse2.png);
    background-repeat: no-repeat;
    background-color: var(--background-color);
    background-position-x: -54px, 350px;
    background-position-y: 520px, -253px;
  }
}

@media screen and (min-width: 1280px) {
  .overlay {
    background-position-x: -110px, 110%;
    background-position-y: 520px, -180px;
    min-height: 100vh;
  }
}
