@import "modern-normalize/modern-normalize.css";
@import "./stylesheet/vars.css";
@import "./stylesheet/fonts.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body#modal-root {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
